<div class="container m-5">
  <h1>A propos de moi</h1>
  <p class="fs-5">After several experiences in restaurants and shops, I chose to deepen my affinity for programming. So I decided to take classes on openclassroom. It was while spending day and night there for a month that I met privateers from The hacking Project, motivating me to take this training. Today I am in my turn privateer of the Wagon, armed with a flamboyant passion for code and the desire to <span> learn more and more.</span> I continue to learn my skills by continuing to develop applications every week.
  </p>
</div>
