<div class="container m-5">
  <h1>A propos de moi</h1>
  <p class="fs-5">Après plusieurs expériences dans la restauration et le commerces j'ai choisi d’approfondir mon affinité pour la programmation. J'ai donc décidé de suivre des cours sur openclassroom. C'est en y passant nuit et jour pendant un mois que j'ai rencontré des corsaire de The hacking Project me motivant dans l'idée de suivre cette formation. Aujourd'hui me voilà à mon tour corsaire du Wagon, armé d'une passion span flamboyante pour le code et l'envie <span>d'apprendre toujours plus</span>. Je continue à faire mes armes en continuant à développer chaque semaine des applications.
  </p>
</div>
