<main class=' flag'>
  <section class="py-5 text-center container">
    <div class="row py-lg-5  ">
      <div class="col-lg-6 col-md-8 mx-auto bold text-landing">
        <h1 class="font-weight-bold  ">Hello there !</h1>
        <p class="  font-weight-bold ">I'm <span>Jonathan Bouillaux</span> and I'm Web developper</p>
        <i class="far fa-gem fa-3x text-danger mb-5"></i>
      </div>
    </div>
  </section>
</main>
