<div class="jumbotron ">
  <div id="div-skills-bars">
    <div id="div-skills-title"> My skills </div>
    <div id="bars-all">
      <div id="bar-large">
        <div id="bar-name"> HTML / CSS </div>
        <div id="bar-medium"></div>
        <div id="bar-small-90"></div>
      </div>
      <div id="bar-large">
        <div id="bar-name"> Ruby / RoR </div>
        <div id="bar-medium"></div>
        <div id="bar-small-60"></div>
      </div>
      <div id="bar-large">
        <div id="bar-name"> SQL </div>
        <div id="bar-medium"></div>
        <div id="bar-small-50"></div>
      </div>
      <div id="bar-large">
        <div id="bar-name"> JavaScript </div>
        <div id="bar-medium"></div>
        <div id="bar-small-20"></div>
      </div>
    </div>
  </div>
</div>
