<br />
<br />
<br />
<h2>Ceci est un message qui vous est envoyé depuis la page contact de Portefolio.</h2>
<br />
<h3>Expéditeur :</h3>
<%= @message.name %>
<h3>Email :</h3>
<%= @message.email %>
<h3>Message :</h3>
<%= @message.body %>
<br />
<br />
<br />
