i {
  color: #eb9d04;
}

div.field,
div.actions {
  margin-bottom: 10px;
}
.imagenav {
  display: inline;
  width: 30vh;
  height: auto;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
// .flag {
//   background: url("https://res.cloudinary.com/dtevenab3/image/upload/v1608556761/quino-al-mBQIfKlvowM-unsplash_o6rkuu.jpg")
//     center top/cover;
// }

.text-landing {
  font-size: xx-large;
  line-height: 1.5;
}

span {
  color: #dc3545;
}
btn-nav {
  background-color: #eb9d04;
}
