i {
  color: #eb9d04;
}
.bg-card {
  background-color: #eb9d04;
}
#div-skills-title {
  text-align: left;
  margin: 20px 0 20px 0;
  font-size: 40px;
}
#div-projects-title {
  text-align: left;
  padding-left: 32px;
  font-size: 40px;
}
#div-skills-bars {
  width: 100%;
}
#bars-all {
  margin-top: 60px;
}
#bar-large {
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ababab;
}

#bar-name {
  background-color: #ababab;
  width: 110px;
  border-radius: 10px;
  text-align: center;
  vertical-align: baseline;
}
#bar-medium {
  height: 25px;
}

#bar-small-90 {
  height: 25px;
  width: 70%;
  background-color: #eb9d04;
}

#bar-small-50 {
  height: 25px;
  width: 35%;
  background-color: #eb9d04;
}
#bar-small-60 {
  height: 25px;
  width: 40%;
  background-color: #eb9d04;
}
#bar-small-70 {
  height: 25px;
  width: 50%;
  background-color: #eb9d04;
}
#bar-small-20 {
  height: 25px;
  width: 20%;
  background-color: #eb9d04;
}

div.field,
div.actions {
  margin-bottom: 10px;
}
.imagenav {
  display: inline;
  width: 30vh;
  height: auto;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.flag {
  background: url("https://res.cloudinary.com/dtevenab3/image/upload/v1608556761/quino-al-mBQIfKlvowM-unsplash_o6rkuu.jpg")
    center top/cover;
}

.text-landing {
  font-size: xx-large;
  line-height: 1.5;
}

span {
  color: #dc3545;
}
btn-nav {
  background-color: #eb9d04;
}
