<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid d-flex flex-row justify-content-between">
    <div class="logo">
      <%=link_to root_path do%>
        <%=image_tag "https://res.cloudinary.com/dtevenab3/image/upload/v1608212768/115536698_653264105604624_4096573005137404116_n_srha9q_waegcd.png",class:"imagenav"%>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </a>
  <div class="follow">
    <a href="https://github.com/piwiit"><i class="fab fa-github fa-2x me-3 "></i></a>
    <a href="https://twitter.com/PiwiitJo"><i class="fab fa-twitter-square fa-2x me-3 "></i></a>
    <a href="https://www.linkedin.com/in/jonathan-bouillaux-810b831a1/"><i class="fab fa-linkedin fa-2x me-3 "></i></a>
  </div>
</div>
</nav>
